.footer {
  color: #fff;
  background-color: #272727;
  text-align: center;
  padding: 60px 0px;
  .contents {
    display: flex;
    justify-content: center;
    .content {
      width: 250px;
      margin: 30px 30px 0px 20px;
      &__header {
        margin-bottom: 40px;
        font-size: 16px;
        font-weight: bold;
      }
      li {
        margin-bottom: 20px;
        a {
          color: #fff;
        }
      }
    }
  }
  &__logo {
    width: 100%;
    img {
      max-width: 160px;
      width: 100%;
    }
  }
  .display__btn {
    background-color: #3ccace;
    width: 100px;
    padding: 10px 15px;
    border-radius: 5%;
    position: fixed;
    bottom: 25px;
    right: 50px;
    p {
      font-size: 16px;
      margin: 10px 0px 15px 0px;
      color: #fff;
    }
    img {
        max-width: 60px;
        width: 100%;
    }  
  }
}