* {
  box-sizing: border-box;
}
@mixin num {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 5px 18px;
  background-color: #3CCACE;
  color: #fff;
}
@mixin apple-btn {
  height: 85px;
  width: 180px;
}
@mixin google-btn {
  height: 87px;
  width: 210px;
}
@mixin reason-title{
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  margin: 5px 0 0 2px;
}
.Top-page{
  background-color: white;
  .Image{
    width: 100%;
    height: 560px;
    background-image: image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content{
      width: 100%;
      margin: 0 auto;
      &__message{
        color: #fff;
        font-size: 58px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin: 90px 0 0 10px;
      }
      &__text{
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        margin: 20px 0 0 2px;
      }
      &__link{
        margin-top: 10px;
        &__apple{
          @include apple-btn;
        }
        &__google{
          @include google-btn;
        }
      }
    }
  }
  .Reason{
    padding: 60px 20px;
    &__title{
      text-align: center;
      font-size: 25px;
      font-weight: 900;
    }
    &__line{
      width: 5vw;
      background-color: #3CCACE;
      margin-bottom: 25px;
    }
    &__lists{
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      &__one{
        width: 30%;
        margin: 16px 5% 0 0;
        flex-direction: column;
        display: flex;
        text-align: left;
        align-items: center;
        &__content{
          position: relative;
          &__image{
            width: 100%;
          }
          &__num{
            @include num;
          }
        }
        &__title{
          @include reason-title;
          &--blue{
            color: #3CCACE;
          }
        }
        &__text{
          margin-top: 14px;
          font-size: 18px;
        }
      }
      &__two{
        width: 30%;
        margin: 16px 5% 0 0;
        flex-direction: column;
        display: flex;
        text-align: left;
        align-items: center;
        &__content{
          position: relative;
          &__image{
            width: 100%;
          }
          &__num{
            @include num;
            }
          }
          &__title{
            @include reason-title;
            &--blue{
              color: #3CCACE;
            }
          }
          &__text{
            margin-top: 14px;
            font-size: 18px;
          }
        }
      &__three{
        width: 30%;
        margin: 16px 0 0 0;
        flex-direction: column;
        display: flex;
        text-align: left;
        align-items: center;
        &__content{
          position: relative;
          &__image{
            width: 100%;
          }
          &__num{
            @include num;
          }
        }
        &__title{
          @include reason-title;
          &--blue{
            color: #3CCACE;
          }
        }
        &__text{
          margin-top: 14px;
          font-size: 18px;
        }
      }
    }
  }
  .Middle{
    background-image: image-url("bg-topMiddleDl-pict.jpg");
    height: 400px;
    background-size: cover;
    background-position: bottom right;
    display: flex;
    align-items: center;
    &__content{
      width: 100%;
      text-align: left;
      max-width: 1040px;
      color: #fff;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      margin: 0 auto;
      &__message{
        font-size: 25px;
        font-weight: bold;
      }
      &__text{
        font-size: 18px;
        margin: 15px 0 20px;
      }
      &__link{
        display: flex;
        &__apple{
          @include apple-btn;
        }
        &__google{
          @include google-btn;
        }
      }
    }
  }
  .Feature{
    padding: 60px 20px;
    &__title{
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    &__line{
      width: 5vw;
      background-color: #3CCACE;
      margin-bottom: 25px;
    }
    &__lists{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      &__set{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 8px;
        &__image{
          width: 60%;
          margin: 0 auto;
        }
        &__title{
          margin-top: 50px;
          font-weight: bold;
          font-size: 18px;
          letter-spacing: 1.5px;
        }
        &__text{
          text-align: left;
          margin: 10px 0 0 40px;
          letter-spacing: 2px;
          font-size: 15px;
        }
      }
    }
  }
  .Product{
    padding: 80px 0 0;
    background-color: #F8F8F8;
    height: 100%;
    &__theme{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
    }
    &__lists{
      width: 780px;
      margin: 26px auto 0 auto;
      display: flex;
      justify-content: space-around;
      a{
        text-decoration: none;
      }
      a:hover{
        opacity: 0.5;
      }
      &__set{
        width: 220px;
        display: inline-block;
        &__image{
          width: 220px;
          height: 150px;
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;
          vertical-align:top;
        }
        &__content{
          display: flex;
          justify-content: space-between;
          background-color: white;
          color: #333;
          padding: 16px;
          &__information{
            &__name{
              overflow: hidden;
              font-size: 16px;
              text-align: left;
              text-decoration: none;
            }
            &__price{
              font-size: 14px;
              padding-top: 2px;
            }
            &__tax{
              font-size: 10px;
            }
          }
          &__star{
            display: flex;
            padding-top: 20px;
            font-size: 14px;
            &__icon{
              padding-right: 3px;
            }
            &__Evaluation{
              padding-top: 1px;
            }
          }
        }
      }
    }
  }
  .Download{
    background-image: image-url("bg-appBanner-pict.jpg");
    background-size: cover;
    padding: 90px 40px;
    background-position: center;
    &__message{
      color: #fff;
      text-align: center;
      &__upper{
        font-size: 23px;
        font-weight: bold;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__lower{
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
    }
    &__link{
      text-align: center;
      &__apple{
        @include apple-btn;
      }
      &__google{
        @include google-btn;
      }
    }
  }
}
.Exhibition-btn{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 13px 17px;
  &__name{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__image{
    width: 62%;
  }
}