.header
  .header--inner
    .search
      %h1.search__icon
        %a{href: "#"}
          %img{src: "assets/material/logo/logo.png"}
      .search__body
        %form
          %input.search--inner{name: "keyword", placeholder: "キーワードから探す", type: "text"}
          %button.search__button{type: "submit"}
            .button__img
              %img{src: "assets/material/icon/icon-search 1.png"}
    .nav
      %ul.nav--left
        %li.nav__category
          %a#category__btn{href: "#"} 
            カテゴリー
          .category__tree
            %ul.category__items.display--none
              %li.category__item
                %a#1{href: "#"}
                  レディース
                %ul.subcat__ladies.display--none
                  %li.subcat__item
                    %a#14{href: "#"}
                      トップス
                    %ul.tops--detailed.display--none
                      %li.detail__item
                        %a#157{href: "#"}
                          Tシャツ/カットソー(半袖/袖なし)
                      %li.detail__item
                        %a#158{href: "#"}
                          Tシャツ/カットソー(七分/長袖)
                      %li.detail__item
                        %a#159{href: "#"}
                          シャツ/ブラウス(半袖/袖なし)
                      %li.detail__item
                        %a#160{href: "#"}
                          シャツ/ブラウス(七分/長袖)
                      %li.detail__item
                        %a#161{href: "#"}
                          ポロシャツ
                      %li.detail__item
                        %a#162{href: "#"}
                          キャミソール
                      %li.detail__item
                        %a#163{href: "#"}
                          タンクトップ
                      %li.detail__item
                        %a#164{href: "#"}
                          ホルターネック
                      %li.detail__item
                        %a#165{href: "#"}
                          ニット/セーター
                      %li.detail__item
                        %a#166{href: "#"}
                          チュニック
                      %li.detail__item
                        %a#167{href: "#"}
                          カーディガン/ボレロ
                      %li.detail__item
                        %a#168{href: "#"}
                          アンサンブル
                      %li.detail__item
                        %a#169{href: "#"}
                          ベスト/ジレ
                      %li.detail__item
                        %a#170{href: "#"}
                          パーカー
                      %li.detail__item
                        %a#171{href: "#"}
                          トレーナー/スウェット
                      %li.detail__item
                        %a#172{href: "#"}
                          ベアトップ/チューブトップ
                      %li.detail__item
                        %a#173{href: "#"}
                          ジャージ
                      %li.detail__item
                        %a#174{href: "#"}
                          その他
                  %li.subcat__item
                    %a#15{href: "#"}
                      ジャケット/アウター
                    %ul.jackets--detailed.display--none
                      %li.detail__item
                        %a#175{href: "#"}
                          テーラードジャケット
                      %li.detail__item
                        %a#176{href: "#"}
                          ノーカラージャケット
                      %li.detail__item
                        %a#177{href: "#"}
                          Gジャン/デニムジャケット
                      %li.detail__item
                        %a#178{href: "#"}
                          レザージャケット
                      %li.detail__item
                        %a#179{href: "#"}
                          ダウンジャケット
                      %li.detail__item
                        %a#180{href: "#"}
                          ライダースジャケット
                      %li.detail__item
                        %a#181{href: "#"}
                          ミリタリージャケット
                      %li.detail__item
                        %a#182{href: "#"}
                          ダウンベスト
                      %li.detail__item
                        %a#183{href: "#"}
                          ジャンパー/ブルゾン
                      %li.detail__item
                        %a#184{href: "#"}
                          ポンチョ
                      %li.detail__item
                        %a#185{href: "#"}
                          ロングコート
                      %li.detail__item
                        %a#186{href: "#"}
                          トレンチコート
                      %li.detail__item
                        %a#187{href: "#"}
                          ダッフルコート
                      %li.detail__item
                        %a#188{href: "#"}
                          ピーコート
                      %li.detail__item
                        %a#189{href: "#"}
                          チェスターコート
                      %li.detail__item
                        %a#190{href: "#"}
                          モッズコート
                      %li.detail__item
                        %a#191{href: "#"}
                          スタジャン
                      %li.detail__item
                        %a#192{href: "#"}
                          毛皮/ファーコート
                      %li.detail__item
                        %a#193{href: "#"}
                          スプリングコート
                      %li.detail__item
                        %a#194{href: "#"}
                          スカジャン
                      %li.detail__item
                        %a#195{href: "#"}
                          その他
                  %li.subcat__item
                    %a#16{href: "#"}
                      パンツ
                    %ul.pants--detailed.display--none
                      %li.detail__item
                        %a#196{href: "#"}
                          デニム/ジーンズ
                      %li.detail__item
                        %a#197{href: "#"}
                          ショートパンツ
                      %li.detail__item
                        %a#198{href: "#"}
                          カジュアルパンツ
                      %li.detail__item
                        %a#199{href: "#"}
                          ハーフパンツ
                      %li.detail__item
                        %a#200{href: "#"}
                          チノパン
                      %li.detail__item
                        %a#201{href: "#"}
                          ワークパンツ/カーゴパンツ
                      %li.detail__item
                        %a#202{href: "#"}
                          クロップドパンツ
                      %li.detail__item
                        %a#203{href: "#"}
                          サロペット/オーバーオール
                      %li.detail__item
                        %a#204{href: "#"}
                          オールインワン
                      %li.detail__item
                        %a#205{href: "#"}
                          サルエルパンツ
                      %li.detail__item
                        %a#206{href: "#"}
                          ガウチョパンツ
                      %li.detail__item
                        %a#207{href: "#"}
                          その他
                  %li.subcat__item
                    %a#17{href: "#"}
                      スカート
                    %ul.skirts--detailed.display--none
                      %li.detail__item
                        %a#208{href: "#"}
                          ミニスカート
                      %li.detail__item
                        %a#209{href: "#"}
                          ひざ丈スカート
                      %li.detail__item
                        %a#210{href: "#"}
                          ロングスカート
                      %li.detail__item
                        %a#211{href: "#"}
                          キュロット
                      %li.detail__item
                        %a#212{href: "#"}
                          その他
                  %li.subcat__item
                    %a#18{href: "#"}
                      ワンピース
                    %ul.one-piece--detailed.display--none
                      %li.detail__item
                        %a#213{href: "#"}
                          ミニワンピース
                      %li.detail__item
                        %a#214{href: "#"}
                          ひざ丈ワンピース
                      %li.detail__item
                        %a#215{href: "#"}
                          ロングワンピース
                      %li.detail__item
                        %a#216{href: "#"}
                          その他
                  %li.subcat__item
                    %a#19{href: "#"}
                      靴
                    %ul.shoes--detailed.display--none
                      %li.detail__item
                        %a#217{href: "#"}
                          ハイヒール/パンプス
                      %li.detail__item
                        %a#218{href: "#"}
                          ブーツ
                      %li.detail__item
                        %a#219{href: "#"}
                          サンダル
                      %li.detail__item
                        %a#220{href: "#"}
                          スニーカー
                      %li.detail__item
                        %a#221{href: "#"}
                          ミュール
                      %li.detail__item
                        %a#222{href: "#"}
                          モカシン
                      %li.detail__item
                        %a#223{href: "#"}
                          ローファー/革靴
                      %li.detail__item
                        %a#224{href: "#"}
                          フラットシューズ/バレエシューズ
                      %li.detail__item
                        %a#225{href: "#"}
                          長靴/レインシューズ
                      %li.detail__item
                        %a#226{href: "#"}
                          その他
                  %li.subcat__item
                    %a#20{href: "#"}
                      ルームウェア/パジャマ
                    %ul.wear--detailed.display--none
                      %li.detail__item
                        %a#227{href: "#"}
                          パジャマ
                      %li.detail__item
                        %a#228{href: "#"}
                          ルームウェア
                  %li.subcat__item
                    %a#21{href: "#"}
                      レッグウェア
                    %ul.legs--detailed.display--none
                      %li.detail__item
                        %a#229{href: "#"}
                          ソックス
                      %li.detail__item
                        %a#230{href: "#"}
                          スパッツ/レギンス
                      %li.detail__item
                        %a#231{href: "#"}
                          ストッキング/タイツ
                      %li.detail__item
                        %a#232{href: "#"}
                          レッグウォーマー
                      %li.detail__item
                        %a#233{href: "#"}
                          その他
                  %li.subcat__item
                    %a#22{href: "#"}
                      帽子
                    %ul.caps--detailed.display--none
                      %li.detail__item
                        %a#234{href: "#"}
                          ニットキャップ/ビーニー
                      %li.detail__item
                        %a#235{href: "#"}
                          ハット
                      %li.detail__item
                        %a#236{href: "#"}
                          ハンチング/ベレー帽
                      %li.detail__item
                        %a#237{href: "#"}
                          キャップ
                      %li.detail__item
                        %a#238{href: "#"}
                          キャスケット
                      %li.detail__item
                        %a#239{href: "#"}
                          麦わら帽子
                      %li.detail__item
                        %a#240{href: "#"}
                          その他
                  %li.subcat__item
                    %a#23{href: "#"}
                      バッグ
                    %ul.bags--detailed.display--none
                      %li.detail__item
                        %a#241{href: "#"}
                          ハンドバッグ
                      %li.detail__item
                        %a#242{href: "#"}
                          トートバッグ
                      %li.detail__item
                        %a#243{href: "#"}
                          エコバッグ
                      %li.detail__item
                        %a#244{href: "#"}
                          リュック/バックパック
                      %li.detail__item
                        %a#245{href: "#"}
                          ボストンバッグ
                      %li.detail__item
                        %a#246{href: "#"}
                          スポーツバッグ
                      %li.detail__item
                        %a#247{href: "#"}
                          ショルダーバッグ
                      %li.detail__item
                        %a#248{href: "#"}
                          クラッチバッグ
                      %li.detail__item
                        %a#249{href: "#"}
                          ポーチ/バニティ
                      %li.detail__item
                        %a#250{href: "#"}
                          ボディバッグ/ウェストバッグ
                      %li.detail__item
                        %a#251{href: "#"}
                          マザーズバッグ
                      %li.detail__item
                        %a#252{href: "#"}
                          メッセンジャーバッグ
                      %li.detail__item
                        %a#253{href: "#"}
                          ビジネスバッグ
                      %li.detail__item
                        %a#254{href: "#"}
                          旅行用バッグ/キャリーバッグ
                      %li.detail__item
                        %a#255{href: "#"}
                          ショップ袋
                      %li.detail__item
                        %a#256{href: "#"}
                          和装用バッグ
                      %li.detail__item
                        %a#257{href: "#"}
                          かごバッグ
                      %li.detail__item
                        %a#258{href: "#"}
                          その他
                  %li.subcat__item
                    %a#24{href: "#"}
                      アクセサリー
                    %ul.accessories--detailed.display--none
                      %li.detail__item
                        %a#259{href: "#"}
                          ネックレス
                      %li.detail__item
                        %a#260{href: "#"}
                          ブレスレット
                      %li.detail__item
                        %a#261{href: "#"}
                          バングル/リストバンド
                      %li.detail__item
                        %a#262{href: "#"}
                          リング
                      %li.detail__item
                        %a#263{href: "#"}
                          ピアス(片耳用)
                      %li.detail__item
                        %a#264{href: "#"}
                          ピアス(両耳用)
                      %li.detail__item
                        %a#265{href: "#"}
                          イヤリング
                      %li.detail__item
                        %a#266{href: "#"}
                          アンクレット
                      %li.detail__item
                        %a#267{href: "#"}
                          ブローチ/コサージュ
                      %li.detail__item
                        %a#268{href: "#"}
                          チャーム
                      %li.detail__item
                        %a#269{href: "#"}
                          その他
                  %li.subcat__item
                    %a#25{href: "#"}
                      ヘアアクセサリー
                    %ul.hair--detailed.display--none
                      %li.detail__item
                        %a#270{href: "#"}
                          ヘアゴム/シュシュ
                      %li.detail__item
                        %a#271{href: "#"}
                          ヘアバンド/カチューシャ
                      %li.detail__item
                        %a#272{href: "#"}
                          ヘアピン
                      %li.detail__item
                        %a#273{href: "#"}
                          その他
                  %li.subcat__item
                    %a#26{href: "#"}
                      小物
                    %ul.articles--detailed.display--none
                      %li.detail__item
                        %a#274{href: "#"}
                          長財布
                      %li.detail__item
                        %a#275{href: "#"}
                          折り財布
                      %li.detail__item
                        %a#276{href: "#"}
                          コインケース/小銭入れ
                      %li.detail__item
                        %a#277{href: "#"}
                          名刺入れ/定期入れ
                      %li.detail__item
                        %a#278{href: "#"}
                          キーケース
                      %li.detail__item
                        %a#279{href: "#"}
                          キーホルダー
                      %li.detail__item
                        %a#280{href: "#"}
                          手袋/アームカバー
                      %li.detail__item
                        %a#281{href: "#"}
                          ハンカチ
                      %li.detail__item
                        %a#282{href: "#"}
                          ベルト
                      %li.detail__item
                        %a#283{href: "#"}
                          マフラー/ショール
                      %li.detail__item
                        %a#284{href: "#"}
                          ストール/スヌード
                      %li.detail__item
                        %a#285{href: "#"}
                          バンダナ/スカーフ
                      %li.detail__item
                        %a#286{href: "#"}
                          ネックウォーマー
                      %li.detail__item
                        %a#287{href: "#"}
                          サスペンダー
                      %li.detail__item
                        %a#288{href: "#"}
                          サングラス/メガネ
                      %li.detail__item
                        %a#289{href: "#"}
                          モバイルケース/カバー
                      %li.detail__item
                        %a#290{href: "#"}
                          手帳
                      %li.detail__item
                        %a#291{href: "#"}
                          イヤマフラー
                      %li.detail__item
                        %a#292{href: "#"}
                          傘
                      %li.detail__item
                        %a#293{href: "#"}
                          レインコート/ポンチョ
                      %li.detail__item
                        %a#294{href: "#"}
                          ミラー
                      %li.detail__item
                        %a#295{href: "#"}
                          タバコグッズ
                      %li.detail__item
                        %a#296{href: "#"}
                          その他
                  %li.subcat__item
                    %a#27{href: "#"}
                      時計
                    %ul.watches--detailed.display--none
                      %li.detail__item
                        %a#297{href: "#"}
                          腕時計(アナログ)
                      %li.detail__item
                        %a#298{href: "#"}
                          腕時計(デジタル)
                      %li.detail__item
                        %a#299{href: "#"}
                          ラバーベルト
                      %li.detail__item
                        %a#300{href: "#"}
                          レザーベルト
                      %li.detail__item
                        %a#301{href: "#"}
                          金属ベルト
                      %li.detail__item
                        %a#302{href: "#"}
                          その他
                  %li.subcat__item
                    %a#28{href: "#"}
                      ウィッグ/エクステ
                    %ul.wigs--detailed.display--none
                      %li.detail__item
                        %a#303{href: "#"}
                          前髪ウィッグ
                      %li.detail__item
                        %a#304{href: "#"}
                          ロングストレート
                      %li.detail__item
                        %a#305{href: "#"}
                          ロングカール
                      %li.detail__item
                        %a#306{href: "#"}
                          ショートストレート
                      %li.detail__item
                        %a#307{href: "#"}
                          ショートカール
                      %li.detail__item
                        %a#308{href: "#"}
                          その他
                  %li.subcat__item
                    %a#29{href: "#"}
                      浴衣/水着
                    %ul.swimsuit--detailed.display--none
                      %li.detail__item
                        %a#309{href: "#"}
                          浴衣
                      %li.detail__item
                        %a#310{href: "#"}
                          着物
                      %li.detail__item
                        %a#311{href: "#"}
                          振袖
                      %li.detail__item
                        %a#312{href: "#"}
                          長襦袢/半襦袢
                      %li.detail__item
                        %a#313{href: "#"}
                          水着セパレート
                      %li.detail__item
                        %a#314{href: "#"}
                          水着ワンピース
                      %li.detail__item
                        %a#315{href: "#"}
                          水着スポーツ用
                      %li.detail__item
                        %a#316{href: "#"}
                          その他
                  %li.subcat__item
                    %a#30{href: "#"}
                      スーツ/フォーマル/ドレス
                    %ul.suit--detailed.display--none
                      %li.detail__item
                        %a#317{href: "#"}
                          スカートスーツ上下
                      %li.detail__item
                        %a#318{href: "#"}
                          パンツスーツ上下
                      %li.detail__item
                        %a#319{href: "#"}
                          ドレス
                      %li.detail__item
                        %a#320{href: "#"}
                          パーティーバッグ
                      %li.detail__item
                        %a#321{href: "#"}
                          シューズ
                      %li.detail__item
                        %a#322{href: "#"}
                          ウェディング
                      %li.detail__item
                        %a#323{href: "#"}
                          その他
                  %li.subcat__item
                    %a#31{href: "#"}
                      マタニティ
                    %ul.maternity--detailed.display--none
                      %li.detail__item
                        %a#324{href: "#"}
                          トップス
                      %li.detail__item
                        %a#325{href: "#"}
                          アウター
                      %li.detail__item
                        %a#326{href: "#"}
                          インナー
                      %li.detail__item
                        %a#327{href: "#"}
                          ワンピース
                      %li.detail__item
                        %a#328{href: "#"}
                          パンツ/スパッツ
                      %li.detail__item
                        %a#329{href: "#"}
                          スカート
                      %li.detail__item
                        %a#330{href: "#"}
                          パジャマ
                      %li.detail__item
                        %a#331{href: "#"}
                          授乳服
                      %li.detail__item
                        %a#332{href: "#"}
                          その他
                  %li.subcat__item
                    %a#32{href: "#"}
                      その他
                    %ul.others--detailed.display--none
                      %li.detail__item
                        %a#333{href: "#"}
                          コスプレ
                      %li.detail__item
                        %a#334{href: "#"}
                          下着
                      %li.detail__item
                        %a#335{href: "#"}
                          その他
              %li.category__item
                %a#2{href: "#"}
                  メンズ
                %ul.subcat__men.display--none
                  %li.subcat__item
                    %a#33{href: "#"}
                      トップス
                    %ul.tops__men--detailed.display--none
                      %li.detail__item
                        %a#336{href: "#"}
                          Tシャツ/カットソー(半袖/袖なし)
                      %li.detail__item
                        %a#337{href: "#"}
                          Tシャツ/カットソー(七分/長袖)
                      %li.detail__item
                        %a#338{href: "#"}
                          シャツ
                      %li.detail__item
                        %a#339{href: "#"}
                          ポロシャツ
                      %li.detail__item
                        %a#340{href: "#"}
                          タンクトップ
                      %li.detail__item
                        %a#341{href: "#"}
                          ニット/セーター
                      %li.detail__item
                        %a#342{href: "#"}
                          パーカー
                      %li.detail__item
                        %a#343{href: "#"}
                          カーディガン
                      %li.detail__item
                        %a#344{href: "#"}
                          スウェット
                      %li.detail__item
                        %a#345{href: "#"}
                          ジャージ
                      %li.detail__item
                        %a#346{href: "#"}
                          ベスト
                      %li.detail__item
                        %a#347{href: "#"}
                          その他
                  %li.subcat__item
                    %a#34{href: "#"}
                      ジャケット/アウター
                    %ul.jackets__men--detailed.display--none
                      %li.detail__item
                        %a#348{href: "#"}
                          テーラードジャケット
                      %li.detail__item
                        %a#349{href: "#"}
                          ノーカラージャケット
                      %li.detail__item
                        %a#350{href: "#"}
                          Gジャン/デニムジャケット
                      %li.detail__item
                        %a#351{href: "#"}
                          レザージャケット
                      %li.detail__item
                        %a#352{href: "#"}
                          ダウンジャケット
                      %li.detail__item
                        %a#353{href: "#"}
                          ライダースジャケット
                      %li.detail__item
                        %a#354{href: "#"}
                          ミリタリージャケット
                      %li.detail__item
                        %a#355{href: "#"}
                          ナイロンジャケット
                      %li.detail__item
                        %a#356{href: "#"}
                          フライトジャケット
                      %li.detail__item
                        %a#357{href: "#"}
                          ダッフルコート
                      %li.detail__item
                        %a#358{href: "#"}
                          ピーコート
                      %li.detail__item
                        %a#359{href: "#"}
                          ステンカラーコート
                      %li.detail__item
                        %a#360{href: "#"}
                          トレンチコート
                      %li.detail__item
                        %a#361{href: "#"}
                          モッズコート
                      %li.detail__item
                        %a#362{href: "#"}
                          チェスターコート
                      %li.detail__item
                        %a#363{href: "#"}
                          スタジャン
                      %li.detail__item
                        %a#364{href: "#"}
                          スカジャン
                      %li.detail__item
                        %a#365{href: "#"}
                          ブルゾン
                      %li.detail__item
                        %a#366{href: "#"}
                          マウンテンパーカー
                      %li.detail__item
                        %a#367{href: "#"}
                          ダウンベスト
                      %li.detail__item
                        %a#368{href: "#"}
                          ポンチョ
                      %li.detail__item
                        %a#369{href: "#"}
                          カバーオール
                      %li.detail__item
                        %a#370{href: "#"}
                          その他
                  %li.subcat__item
                    %a#35{href: "#"}
                      パンツ
                    %ul.pants__men--detailed.display--none
                      %li.detail__item
                        %a#371{href: "#"}
                          デニム/ジーンズ
                      %li.detail__item
                        %a#372{href: "#"}
                          ワークパンツ/カーゴパンツ
                      %li.detail__item
                        %a#373{href: "#"}
                          スラックス
                      %li.detail__item
                        %a#374{href: "#"}
                          チノパン
                      %li.detail__item
                        %a#375{href: "#"}
                          ショートパンツ
                      %li.detail__item
                        %a#376{href: "#"}
                          ペインターパンツ
                      %li.detail__item
                        %a#377{href: "#"}
                          サルエルパンツ
                      %li.detail__item
                        %a#378{href: "#"}
                          オーバーオール
                      %li.detail__item
                        %a#379{href: "#"}
                          その他
                  %li.subcat__item
                    %a#36{href: "#"}
                      靴
                    %ul.shoes__men--detailed.display--none
                      %li.detail__item
                        %a#380{href: "#"}
                          スニーカー
                      %li.detail__item
                        %a#381{href: "#"}
                          サンダル
                      %li.detail__item
                        %a#382{href: "#"}
                          ブーツ
                      %li.detail__item
                        %a#383{href: "#"}
                          モカシン
                      %li.detail__item
                        %a#384{href: "#"}
                          ドレス/ビジネス
                      %li.detail__item
                        %a#385{href: "#"}
                          長靴/レインシューズ
                      %li.detail__item
                        %a#386{href: "#"}
                          デッキシューズ
                      %li.detail__item
                        %a#387{href: "#"}
                          その他
                  %li.subcat__item
                    %a#37{href: "#"}
                      バッグ
                    %ul.bags__men--detailed.display--none
                      %li.detail__item
                        %a#388{href: "#"}
                          ショルダーバッグ
                      %li.detail__item
                        %a#389{href: "#"}
                          トートバッグ
                      %li.detail__item
                        %a#390{href: "#"}
                          ボストンバッグ
                      %li.detail__item
                        %a#391{href: "#"}
                          リュック/バックパック
                      %li.detail__item
                        %a#392{href: "#"}
                          ウエストポーチ
                      %li.detail__item
                        %a#393{href: "#"}
                          ボディーバッグ
                      %li.detail__item
                        %a#394{href: "#"}
                          ドラムバッグ
                      %li.detail__item
                        %a#395{href: "#"}
                          ビジネスバッグ
                      %li.detail__item
                        %a#396{href: "#"}
                          トラベルバッグ
                      %li.detail__item
                        %a#397{href: "#"}
                          メッセンジャーバッグ
                      %li.detail__item
                        %a#398{href: "#"}
                          エコバッグ
                      %li.detail__item
                        %a#399{href: "#"}
                          その他
                  %li.subcat__item
                    %a#38{href: "#"}
                      スーツ
                    %ul.suits__men--detailed.display--none
                      %li.detail__item
                        %a#400{href: "#"}
                          スーツジャケット
                      %li.detail__item
                        %a#401{href: "#"}
                          スーツベスト
                      %li.detail__item
                        %a#402{href: "#"}
                          スラックス
                      %li.detail__item
                        %a#403{href: "#"}
                          セットアップ
                      %li.detail__item
                        %a#404{href: "#"}
                          その他
                  %li.subcat__item
                    %a#39{href: "#"}
                      帽子
                  %li.subcat__item
                    %a#40{href: "#"}
                      アクセサリー
                  %li.subcat__item
                    %a#41{href: "#"}
                      小物
                  %li.subcat__item
                    %a#42{href: "#"}
                      時計
                  %li.subcat__item
                    %a#43{href: "#"}
                      水着
                  %li.subcat__item
                    %a#44{href: "#"}
                      レッグウェア
                  %li.subcat__item
                    %a#45{href: "#"}
                      アンダーウェア
                  %li.subcat__item
                    %a#46{href: "#"}
                      その他
              %li.category__item
                %a#3{href: "#"}
                  ベビー・キッズ
                %ul.subcat__kids.display--none
                  %li.subcat__item
                    %a#47{href: "#"}
                      ベビー服(女の子用)~95cm
                  %li.subcat__item
                    %a#48{href: "#"}
                      ベビー服(男の子用)~95cm
                  %li.subcat__item
                    %a#49{href: "#"}
                      ベビー服(男女兼用)~95cm
                  %li.subcat__item
                    %a#50{href: "#"}
                      キッズ服(女の子用)100cm~
                  %li.subcat__item
                    %a#51{href: "#"}
                      キッズ服(男の子用)100cm~
                  %li.subcat__item
                    %a#52{href: "#"}
                      キッズ服(男女兼用)100cm~
                  %li.subcat__item
                    %a#53{href: "#"}
                      キッズ靴
                  %li.subcat__item
                    %a#54{href: "#"}
                      子ども用ファッション小物
                  %li.subcat__item
                    %a#55{href: "#"}
                      おむつ/トイレ/バス
                  %li.subcat__item
                    %a#56{href: "#"}
                      外出/移動用品
                  %li.subcat__item
                    %a#57{href: "#"}
                      授乳/食事
                  %li.subcat__item
                    %a#58{href: "#"}
                      ベビー家具/寝具/室内用品
                  %li.subcat__item
                    %a#59{href: "#"}
                      おもちゃ
                  %li.subcat__item
                    %a#60{href: "#"}
                      行事/記念品
                  %li.subcat__item
                    %a#61{href: "#"}
                      その他
              %li.category__item
                %a#4{href: "#"}
                  インテリア・住まい・小物
                %ul.subcat__interior.display--none
                  %li.subcat__item
                    %a#62{href: "#"}
                      キッチン/食器
                  %li.subcat__item
                    %a#63{href: "#"}
                      ベッド/マットレス
                  %li.subcat__item
                    %a#64{href: "#"}
                      ソファ/ソファベッド
                  %li.subcat__item
                    %a#65{href: "#"}
                      椅子/チェア
                  %li.subcat__item
                    %a#66{href: "#"}
                      机/テーブル
                  %li.subcat__item
                    %a#67{href: "#"}
                      収納家具
                  %li.subcat__item
                    %a#68{href: "#"}
                      ラグ/カーペット/マット
                  %li.subcat__item
                    %a#69{href: "#"}
                      カーテン/ブラインド
                  %li.subcat__item
                    %a#69{href: "#"}
                      ライト/照明
                  %li.subcat__item
                    %a#70{href: "#"}
                      寝具
                  %li.subcat__item
                    %a#71{href: "#"}
                      インテリア小物
                  %li.subcat__item
                    %a#72{href: "#"}
                      季節/年中行事
                  %li.subcat__item
                    %a#73{href: "#"}
                      その他
              %li.category__item
                %a#5{href: "#"}
                  本・音楽・ゲーム
                %ul.subcat__books.display--none
                  %li.subcat__item
                    %a#74{href: "#"}
                      本
                  %li.subcat__item
                    %a#75{href: "#"}
                      漫画
                  %li.subcat__item
                    %a#76{href: "#"}
                      雑誌
                  %li.subcat__item
                    %a#77{href: "#"}
                      CD
                  %li.subcat__item
                    %a#78{href: "#"}
                      DVD/ブルーレイ
                  %li.subcat__item
                    %a#79{href: "#"}
                      レコード
                  %li.subcat__item
                    %a#80{href: "#"}
                      テレビゲーム
              %li.category__item
                %a#6{href: "#"}
                  おもちゃ・ホビー・グッズ
                %ul.subcat__hobbies.display--none
                  %li.subcat__item
                    %a#81{href: "#"}
                      おもちゃ
                  %li.subcat__item
                    %a#82{href: "#"}
                      タレントグッズ
                  %li.subcat__item
                    %a#83{href: "#"}
                      コミック/アニメグッズ
                  %li.subcat__item
                    %a#84{href: "#"}
                      トレーディングカード
                  %li.subcat__item
                    %a#85{href: "#"}
                      フィギュア
                  %li.subcat__item
                    %a#86{href: "#"}
                      楽器/器材
                  %li.subcat__item
                    %a#87{href: "#"}
                      コレクション
                  %li.subcat__item
                    %a#88{href: "#"}
                      ミリタリー
                  %li.subcat__item
                    %a#89{href: "#"}
                      美術品
                  %li.subcat__item
                    %a#90{href: "#"}
                      アート用品
                  %li.subcat__item
                    %a#91{href: "#"}
                      その他
              %li.category__item
                %a#7{href: "#"}
                  コスメ・香水・美容
                %ul.subcat__beauty.display--none
                  %li.subcat__item
                    %a#92{href: "#"}
                      ベースメイク
                  %li.subcat__item
                    %a#93{href: "#"}
                      メイクアップ
                  %li.subcat__item
                    %a#94{href: "#"}
                      ネイルケア
                  %li.subcat__item
                    %a#95{href: "#"}
                      香水
                  %li.subcat__item
                    %a#96{href: "#"}
                      スキンケア/基礎化粧品
                  %li.subcat__item
                    %a#97{href: "#"}
                      ヘアケア
                  %li.subcat__item
                    %a#98{href: "#"}
                      ボディケア
                  %li.subcat__item
                    %a#99{href: "#"}
                      オーラルケア
                  %li.subcat__item
                    %a#100{href: "#"}
                      リラクゼーション
                  %li.subcat__item
                    %a#101{href: "#"}
                      ダイエット
                  %li.subcat__item
                    %a#102{href: "#"}
                      その他
              %li.category__item
                %a#8{href: "#"}
                  家電・スマホ・カメラ
                %ul.subcat__electric.display--none
                  %li.subcat__item
                    %a#103{href: "#"}
                      スマートフォン/携帯電話
                  %li.subcat__item
                    %a#104{href: "#"}
                      スマホアクセサリー
                  %li.subcat__item
                    %a#105{href: "#"}
                      PC/タブレット
                  %li.subcat__item
                    %a#106{href: "#"}
                      カメラ
                  %li.subcat__item
                    %a#107{href: "#"}
                      テレビ/映像機器
                  %li.subcat__item
                    %a#108{href: "#"}
                      オーディオ機器
                  %li.subcat__item
                    %a#109{href: "#"}
                      美容/健康
                  %li.subcat__item
                    %a#110{href: "#"}
                      冷暖房/空調
                  %li.subcat__item
                    %a#111{href: "#"}
                      生活家電
                  %li.subcat__item
                    %a#112{href: "#"}
                      その他
              %li.category__item
                %a#9{href: "#"}
                  スポーツ・レジャー
                %ul.subcat__sports.display--none
                  %li.subcat__item
                    %a#113{href: "#"}
                      ゴルフ
                  %li.subcat__item
                    %a#114{href: "#"}
                      フィッシング
                  %li.subcat__item
                    %a#115{href: "#"}
                      自転車
                  %li.subcat__item
                    %a#116{href: "#"}
                      トレーニング/エクササイズ
                  %li.subcat__item
                    %a#117{href: "#"}
                      野球
                  %li.subcat__item
                    %a#118{href: "#"}
                      サッカー/フットサル
                  %li.subcat__item
                    %a#119{href: "#"}
                      テニス
                  %li.subcat__item
                    %a#120{href: "#"}
                      スノーボード
                  %li.subcat__item
                    %a#121{href: "#"}
                      スキー
                  %li.subcat__item
                    %a#122{href: "#"}
                      その他スポーツ
                  %li.subcat__item
                    %a#123{href: "#"}
                      アウトドア
                  %li.subcat__item
                    %a#124{href: "#"}
                      その他
              %li.category__item
                %a#10{href: "#"}
                  ハンドメイド
                %ul.subcat__items--handmade.display--none
                  %li.subcat__item
                    %a#125{href: "#"}
                      アクセサリー(女性用)
                  %li.subcat__item
                    %a#126{href: "#"}
                      ファッション/小物
                  %li.subcat__item
                    %a#127{href: "#"}
                      アクセサリー/時計
                  %li.subcat__item
                    %a#128{href: "#"}
                      日用品/インテリア
                  %li.subcat__item
                    %a#129{href: "#"}
                      趣味/おもちゃ
                  %li.subcat__item
                    %a#130{href: "#"}
                      キッズ/ベビー
                  %li.subcat__item
                    %a#131{href: "#"}
                      素材/材料
                  %li.subcat__item
                    %a#132{href: "#"}
                      二次創作物
                  %li.subcat__item
                    %a#133{href: "#"}
                      その他
              %li.category__item
                %a#11{href: "#"}
                  チケット
                %ul.subcat__tickets.display--none
                  %li.subcat__item
                    %a#134{href: "#"}
                      音楽
                  %li.subcat__item
                    %a#135{href: "#"}
                      スポーツ
                  %li.subcat__item
                    %a#136{href: "#"}
                      演劇/芸能
                  %li.subcat__item
                    %a#137{href: "#"}
                      イベント
                  %li.subcat__item
                    %a#138{href: "#"}
                      映画
                  %li.subcat__item
                    %a#139{href: "#"}
                      施設利用券
                  %li.subcat__item
                    %a#140{href: "#"}
                      優待券/割引券
                  %li.subcat__item
                    %a#141{href: "#"}
                      その他
              %li.category__item
                %a#12{href: "#"}
                  自動車・オートバイ
                %ul.subcat__cars.display--none
                  %li.subcat__item
                    %a#142{href: "#"}
                      自動車本体
                  %li.subcat__item
                    %a#143{href: "#"}
                      自動車タイヤ/ホイール
                  %li.subcat__item
                    %a#144{href: "#"}
                      自動車パーツ
                  %li.subcat__item
                    %a#145{href: "#"}
                      自動車アクセサリー
                  %li.subcat__item
                    %a#146{href: "#"}
                      オートバイ車体
                  %li.subcat__item
                    %a#146{href: "#"}
                      オートバイパーツ
                  %li.subcat__item
                    %a#147{href: "#"}
                      オートバイアクセサリー
              %li.category__item
                %a#13{href: "#"}
                  その他
                %ul.subcat__others.display--none
                  %li.subcat__item
                    %a#148{href: "#"}
                      まとめ売り
                  %li.subcat__item
                    %a#149{href: "#"}
                      ペット用品
                  %li.subcat__item
                    %a#150{href: "#"}
                      食品
                  %li.subcat__item
                    %a#151{href: "#"}
                      飲料/酒
                  %li.subcat__item
                    %a#152{href: "#"}
                      日用品/生活雑貨/旅行
                  %li.subcat__item
                    %a#153{href: "#"}
                      アンティーク/コレクション
                  %li.subcat__item
                    %a#154{href: "#"}
                      文房具/事務用品
                  %li.subcat__item
                    %a#155{href: "#"}
                      事務/店舗用品
                  %li.subcat__item
                    %a#156{href: "#"}
                      その他
        %li.nav__brand
          %a#brand__btn{href: "#"} ブランド
      %ul.nav--right
        - if user_signed_in?
          %li.login__form
            = link_to "サインアウト", destroy_user_session_path, method: :delete, id: "login__btn"
          %li.login__form--new
            = link_to "マイページ", "#", id: "new__btn"
        - else
          %li.login__form
            = link_to "ログイン", new_user_session_path, id: "login__btn"
          %li.login__form--new
            = link_to "新規会員登録", new_user_registration_path, id: "new__btn"
